<div class="dialog" ng-show="opened">
	<div class="header" layout="row" layout-align="start center">
		<div flex>
			<span ng-if="status.uploading">Uploading {{status.uploading}} <ng-pluralize count="status.uploading" when="{ 'one': 'file', 'other': 'files' }"></ng-pluralize></span>
			<span ng-if="!status.uploading && status.completed">Uploaded {{status.completed}} <ng-pluralize count="status.completed" when="{ 'one': 'file', 'other': 'files' }"></ng-pluralize><span ng-if="!status.uploading && status.error">,</span></span>
			<span ng-if="!status.uploading && status.error">{{status.error}} <ng-pluralize count="status.error" when="{ 'one': 'upload', 'other': 'uploads' }"></ng-pluralize> failed</span>
		</div>
		<a href ng-click="close()"><md-icon>clear</md-icon></a>
	</div>
	<div class="files">
		<table>
			<tbody class="process" ng-repeat="process in processes">
				<tr ng-repeat="file in process.files">
					<td class="file" ng-class="{ error: process.status=='error', 'has-message': !!process.message }">
						<span class="file-name">{{file.name}}</span>
						<span class="error-message">{{process.message}}</span>
					</td>
					<td class="status">
						<md-icon class="completed" ng-show="process.status=='completed'">check_circle</md-icon>
						<md-icon class="error" ng-show="process.status=='error'">error</md-icon>
						<md-tooltip ng-show="process.message && (process.status=='error' || process.status=='uploading')">
							<span ng-show="process.status=='error'">{{process.message}}</span>
							<span ng-show="process.status=='uploading'">{{process.estimated}} remaining</span>
						</md-tooltip>
						<md-progress-circular ng-show="process.status=='uploading'" md-mode="determinate" value="{{process.percent}}" md-diameter="24"></md-progress-circular>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>